<div class="sidebar" [class.collapsed]="collapsed">
  <button class="toggle-btn" (click)="collapsed = !collapsed">
    {{ collapsed ? "▶" : "◀" }}
  </button>
  <h3 *ngIf="!collapsed" class="heading-bar">History</h3>
  <ul *ngIf="!collapsed">
    <li *ngFor="let item of history" class="item-wrapper">
      <strong>{{ item.filename }}</strong
      ><br />
      <small>{{ item.timestamp | date : "short" }}</small
      ><br />
      <em>{{ item.text | slice : 0 : 50 }}...</em>
    </li>
  </ul>
</div>
